@import "../../allstyles.scss";

.container {
  border-radius: 5px;
  width: fit-content;

  // Use this if there is a card background image
  // background-image: url("/assets/background.jpeg");
  // background-size: cover;

  // Use this if using static color
  background-color: #332424;
}

img {
  width: 10rem;
  border-radius: 5px 5px 0 0;

  &:hover {
    filter: brightness(.8);
    cursor: pointer;
  }

}

.text {
  padding: .5rem;
}

.sub {
  font-size: .8rem;

}
