<p>Something about what is required for the project and why</p>

<h2 class="break title">FRONTEND</h2>
<hr>

    <img src="assets/images/angular_logo.jfif" alt="">
    <h2 class="break">Angular</h2>
    <p>Angular is a widely used front-end framework which allows developers to create and design modular components in order to make large web applications.</p>

    <img src="assets/images/bootstrap_logo.png" alt="">
    <h2 class="break">BootStrap</h2>
    <p>BootStrap is used on the front end to quickly assign styles to components. This helps to save a lot of time that would typically be spent within the css files.</p>

<h2 class="break title">BACKEND</h2>
<hr>

    <img src="assets/images/java_logo.jpg" alt="">
    <h2 class="break">Java</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tempora dolor ab, nam aperiam ea iusto? Dignissimos totam harum error.</p>

    <img src="assets/images/springboot_logo.jpg" alt="">
    <h2 class="break">SpringBoot</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laudantium minus nisi eveniet unde corporis neque quis modi delectus sed.</p>

    <img src="assets/images/tomcat_logo.png" alt="">
    <h2 class="break">Apache Tomcat</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic obcaecati mollitia pariatur ullam maiores explicabo inventore reprehenderit nihil commodi unde.</p>

    <img src="assets/images/ssms_logo.jfif" alt="">
    <h2 class="break">SQL</h2>
    <p>Data such as loan types, values, and many other pieces of information are securely stored within a SQL database. These can easily be brought into the project
      through the use of statements in Java. For more on this concept, please refer to the <a class="accent" routerLink="/flow">data flow</a> page.
    </p>

<h2 class="break title">MANAGEMENT</h2>
<hr>

  <img src="assets/images/azure_logo.png" alt="">
  <h2 class="break">Azure DevOps</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam tempora dolor ab, nam aperiam ea iusto? Dignissimos totam harum error.</p>

  <img src="assets/images/sharepoint_logo.jfif" alt="">
  <h2 class="break">SharePoint</h2>
  <p>When working on any project, it's critical to keep documents, presentations, and other
    forms of documentation organized. For this project, SharePoint was the clear choice for this.
    Wireframes, designs, and other references are all stored within the project SharePoint for easy
    access. Because there are always new hires and contractees being added to the project, it also
    makes for an easy overview of the project's past and current resources.
  </p>

  <img src="assets/images/teams_logo.png" alt="">
  <h2 class="break">Microsoft Teams</h2>
  <p>Microsoft Teams is First National Bank's go-to platform for most communication
    purposes, especially within the development branch where frequent meetings, messages, and
    check-ins are a necessity. Because the team working on the project was spread across the world,
    it was important to choose a platform that provided stable service and allowed for as many
    features as possible to promote a productive team enviornment. The daily meetings are all hosted
    via Microsoft Teams, and the program's chat and calendar features make for a great all-in-one
    platform.
  </p>

  <img src="" alt="">
  <h2 class="break">SmartSheet</h2>
